<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>F:\proj\cpp\subs\android\jyzj\Debug\Test.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>F:\proj\cpp\subs\android\jyzj\Debug</StartWorkingDirectory>
  </propertyGroup>
</Project>